<h1>Unit Detail</h1>

<p *ngIf="!unit">
    <em>Loading...</em>
</p>

<form name="form" #f="ngForm" (ngSubmit)="submit()">
    <div class="form-group row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <label>Unit Name</label>
            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="unit.unitName" maxlength="25" required />
            <div *ngIf="name.errors && name.errors.required" class="label label-danger">This field is required.</div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <label>Unit Type</label>
            <select class="form-control" name="unitTypeId" #unitTypeId="ngModel" [(ngModel)]="unit.unitTypeId" required>
                <option *ngFor="let unitType of unitTypes" [value]="unitType.unitTypeId">{{ unitType.unitTypeName }}</option>
            </select>
            <div *ngIf="unitTypeId.errors && unitTypeId.errors.required" class="label label-danger">This field is required.</div>
        </div>
    </div>

    <table class="table table-bordered table-condensed">
        <thead class="thead-inverse">
            <tr>
                <td class="text-center" colspan="4">Resource Cost</td>
            </tr>
            <tr>
                <td class="text-center">Food</td>
                <td class="text-center">Wood</td>
                <td class="text-center">Gold</td>
                <td class="text-center">Stone</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="number" name="food" class="form-control" [(ngModel)]="unit.food" min="0" required />
                </td>
                <td>
                    <input type="number" name="wood" class="form-control" [(ngModel)]="unit.wood" min="0" required />
                </td>
                <td>
                    <input type="number" name="gold" class="form-control" [(ngModel)]="unit.gold" min="0" required />
                </td>
                <td>
                    <input type="number" name="stone" class="form-control" [(ngModel)]="unit.stone" min="0" required />
                </td>
            </tr>
        </tbody>
    </table>

    <div class="form-group row">
        <div class="col-lg-3">
            <label>Move Speed</label>
            <input type="number" class="form-control" name="moveSpeed" #moveSpeed="ngModel" [(ngModel)]="unit.moveSpeed" min="0" required />
            <div *ngIf="moveSpeed.errors && moveSpeed.errors.required" class="label label-danger">This field is required.</div>
        </div>
        <div class="col-lg-3">
            <label>Line of Sight</label>
            <input type="number" class="form-control" name="lineOfSight" #lineOfSight="ngModel" [(ngModel)]="unit.lineOfSight" min="0" required />
            <div *ngIf="lineOfSight.errors && lineOfSight.errors.required" class="label label-danger">This field is required.</div>
        </div>
        <div class="col-lg-3">
            <label>Health</label>
            <input type="number" class="form-control" name="health" #health="ngModel" [(ngModel)]="unit.health" min="0" required />
            <div *ngIf="health.errors && health.errors.required" class="label label-danger">This field is required.</div>
        </div>
    </div>

    <div class="form-group">
        <label>Attack Range</label>
        <label>Attack Type</label>
        <label>Attack Speed</label>
    </div>

    <div class="form-group controls">
        <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Submit</button>
        <button type="button" class="btn" [routerLink]="['/unit-list']">Cancel</button>
    </div>
</form>