<h1>Units</h1>

<table class="table">
    <thead>
        <tr>
            <td [routerLink]="['unit-detail', { unitId: 0 }]">
                Add new unit
            </td>
        </tr>
        <tr>
            <th>Unit ID</th>
            <th>Unit Type</th>
            <th>Food</th>
            <th>Wood</th>
            <th>Gold</th>
            <th>Stone</th>
            <th>Build Time</th>
            <th>Move Speed</th>
            <th>Line of Sight</th>
            <th>Health</th>
            <th>Attack Range</th>
            <th>Attack Damage</th>
            <th>Attack Type</th>
            <th>Attack Speed</th>
        </tr>
    </thead>
    <tbody *ngIf="units">
        <tr *ngFor="let unit of units">
            <td>{{ unit.unitId }}</td>
            <td>{{ unit.unitName }}</td>
            <td>{{ unit.unitTypeName }}</td>
            <td>{{ unit.food }}</td>
            <td>{{ unit.wood }}</td>
            <td>{{ unit.gold }}</td>
            <td>{{ unit.stone }}</td>
            <td>{{ unit.buildTime }}</td>
            <td>{{ unit.moveSpeed }}</td>
            <td>{{ unit.lineOfSight }}</td>
            <td>{{ unit.health }}</td>
            <td>{{ unit.attackRange }}</td>
            <td>{{ unit.attack }}</td>
            <td>{{ unit.attackTypeName }}</td>
            <td>{{ unit.attackSpeed }}</td>
            <td>
                <span class="glyphicon glyphicon-trash" (click)="delete(unit.unitId)"></span>
            </td>
        </tr>
    </tbody>
</table>