<div class='page-header'>
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <button type='button' class='btn btn-primary' [routerLink]="['/unit-detail', { unitId: 0 }]">Add new unit</button>
        </div>
    </div>
    <h2>Units</h2>
</div>

<table class="table table-bordered table-condensed">
    <thead class="thead-inverse">
        <tr>
            <th>Unit Name</th>
            <th>Unit Type</th>
            <th title="Food">F</th>
            <th title="Wood">W</th>
            <th title="Gold">G</th>
            <th title="Stone">S</th>
            <th title="Move Speed">MS</th>
            <th title="Line of Sight">LoS</th>
            <th title="Health">H</th>
            <th title="Attack Range">AR</th>
            <th title="Attack Damage">AD</th>
            <th title="Attack Type">AT</th>
            <th title="Attack Speed">AS</th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="units">
        <tr *ngFor="let unit of units">
            <td><a [routerLink]="['/unit-detail', { unitId: unit.unitId }]">{{ unit.unitName }}</a></td>
            <td>{{ unit.unitTypeName }}</td>
            <td>{{ unit.food }}</td>
            <td>{{ unit.wood }}</td>
            <td>{{ unit.gold }}</td>
            <td>{{ unit.stone }}</td>

            <td>{{ unit.moveSpeed }}</td>
            <td>{{ unit.lineOfSight }}</td>
            <td>{{ unit.health }}</td>

            <td>{{ unit.attackRange }}</td>
            <td>{{ unit.attack }}</td>
            <td>{{ unit.attackTypeName }}</td>
            <td>{{ unit.attackSpeed }}</td>
            <td>
                <span class="glyphicon glyphicon-trash" (click)="delete(unit.unitId)"></span>
            </td>
        </tr>
    </tbody>
</table>
