@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

/deep/ .thead-inverse {
    background-color: #292b2c;
    color: white;
    border: none;
}