<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" [routerLink]="['/user-account-detail', { userAccountId: 0}]">
                Add new user
            </button>
        </div>
    </div>
    <h2>Users</h2>
</div>

<table class="table table-bordered table-condensed">
    <thead class="thead-inverse">
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Role</th>
            <th>Password</th>
            <th>Created</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody *ngIf="userAccounts">
        <tr *ngFor="let user of userAccounts">
            <td>
                <a [routerLink]="['/user-account-detail', { userAccountId: user.userAccountId }]">
                    {{ user.userAccountId }}
                </a>
            </td>
            <td>{{ user.userAccountName }}</td>
            <td>{{ user.userRoleName }}</td>
            <td>{{ user.userAccountPassword }}</td>
            <td>{{ user.createdByUser }} - {{ user.createdByDate }}</td>
            <td>{{ user.modifiedByUser }} - {{ user.modifiedByDate }}</td>
        </tr>
    </tbody>
</table>